<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>品牌管理</title>
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.css"/>
    <link rel="stylesheet" href="/plugins/adminLTE/css/skins/_all-skins.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
	<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--引入angularJS-->
    <script src="/plugins/angularjs/angular.min.js"></script>
	<!--分页模块开始-->
	<link rel="stylesheet" href="/plugins/angularjs/pagination.css">
	<script src="/plugins/angularjs/pagination.js"></script>
	<!--分页模块结束-->
	<!--<script type="text/javascript">
		/*引入分页模块pagination*/
        var app = angular.module("pinyougou", ['pagination']);
        //品牌 的 控制器
        app.controller("brandController",function ($scope,$http) {
			//查询所有品牌
			$scope.findAll = function () {
				/*异步请求查询数据*/
                $http.get("/brand/findAll").then(function (value) {
                    $scope.dataList = value.data;
				},function (reason) {
                    alert("请求数据失败")
				});
            }
            /*添加和修改品牌*/
            $scope.saveOrUpdate = function () {
                /*定义请求的url【判断是添加还是修改】*/
                var url = "save";
                if($scope.entity.id) {
                    url = "update";
                }
                $http.post("/brand/"+url,$scope.entity).then(function (value) {
                    if(value.data) {
                       /*重新加载品牌数据*/
                       $scope.reload();
                    }else {
                        alert("失败")
                    }
                })
            }

            /*修改品牌按钮*/
            $scope.show = function (item) {
                $scope.entity = JSON.parse(JSON.stringify(item));
            }


            /*分页指令配置信息对象*/
            $scope.paginationConf = {
				currentPage: 1,
				totalItems: 0,
				itemsPerpage: 10,
				perPageOptions:[10,20,30],
				onChange:function () {
                    $scope.reload();//重新加载
                }
			};
            //重新加载列表数据
            $scope.reload = function () {
				/*切换页码*/
				$scope.search($scope.paginationConf.currentPage,$scope.paginationConf.itemsPerPage);
            }

            /*定义查询条件对象*/
            $scope.searchEntity = {};
            //分页查询品牌信息
			$scope.search = function (page, rows) {
				/*发送异步请求分页查询品牌数据*/
				$http({
					url:'/brand/findByPage?page='+page+'&rows='+rows,
					method: 'get',
					params: $scope.searchEntity
                }).then(function (value) {
				    $scope.dataList = value.data.rows;
				    /*更新总记录数*/
				    $scope.paginationConf.totalItems = value.data.total;
				})
            }

            /*定义选中的ids数组*/
            $scope.ids = [];
            /*复选框点击事件*/
            $scope.updateSelection = function ($event,id) {
                /*如果被选中，添加到数组*/
				if($event.target.checked) {
                    $scope.ids.push(id);
                }else {
                    var idx = $scope.ids.indexOf(id);
                    /*删除数组中的元素*/
                    $scope.ids.splice(idx, 1);
                }
            }

            /*批量删除*/
            $scope.delete =  function () {
				if($scope.ids.length >0) {
					/*发送异步请求*/
					$http.get('/brand/delete?ids='+$scope.ids).then(function (value) {
					    /*重新加载品牌数据*/
					    $scope.reload();
					})
                }else {
					alert("选择要删除的元素！")
                }
            }

        });

	</script>-->
	<script src="/js/base-pagination.js"></script>
	<script src="/js/service/baseService.js"></script>
	<script src="/js/controller/baseController.js"></script>
	<script src="/js/controller/brandController.js"></script>

</head>
<body class="hold-transition skin-red sidebar-mini"
	  ng-app="pinyougou" ng-controller="brandController"> <!--ng-init="findAll();"-->
	<!-- .box-body -->
	<div class="box-header with-border">
		<h3 class="box-title">品牌管理</h3>
	</div>

	<div class="box-body">
		<!-- 数据表格 -->
		<div class="table-box">
			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ng-click="entity={ }" ><i class="fa fa-file-o"></i> 新建</button>
						<button type="button" class="btn btn-default" title="删除" ng-click="delete()"><i class="fa fa-trash-o"></i> 删除</button>
						<button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
					</div>
					{{ids}}
				</div>
			</div>
			<div class="box-tools pull-right">
				<div class="has-feedback">
					<!--  查询条件区-->
					<table>
						<tr>
							<td><input class="form-control" ng-model="searchEntity.name" placeholder="品牌名称">
							</td>
							<td><input class="form-control" ng-model="searchEntity.firstChar" placeholder="首字母">
							</td>
							<td>
								<button type="button" class="btn btn-default" ng-click="reload()">
									<i class="fa fa-trash-o"></i> 查询
								</button>
							</td>
						</tr>
					</table>
				</div>
			</div><br/>
			<!--工具栏/-->
			<!--数据列表-->
			<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="" style="padding-right:0px">
							<input id="selall" type="checkbox" class="icheckbox_square-blue" ng-click="checkAll();">
						</th> 
						<th class="sorting_asc">品牌ID</th>
						<th class="sorting">品牌名称</th>									      
						<th class="sorting">品牌首字母</th>									     				
						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in dataList">
						<td><input  type="checkbox"  ng-click="updateSelection($event,item.id);"></td>
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.firstChar}}</td>
						<td class="text-center">                                           
							<button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="show(item);" >修改</button>
						</td>
					</tr>
				</tbody>
			 </table>
			 <!--数据列表/-->
			 <!--放置分页指令-->
			 <tm-pagination conf="paginationConf"></tm-pagination>
		</div>
		<!-- 数据表格 /-->
	 </div>
     <!-- /.box-body -->
       
	<!-- 编辑窗口 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">品牌编辑</h3>
			</div>
			<div class="modal-body">		
				<table class="table table-bordered table-striped"  width="800px">
					<tr>
						<td>品牌名称</td>
						<td><input  class="form-control" placeholder="品牌名称" ng-model="entity.name">  </td>
					</tr>		      	
					<tr>
						<td>首字母</td>
						<td><input  class="form-control" placeholder="首字母" ng-model="entity.firstChar">  </td>
					</tr>		      	
				 </table>
                {{entity}}
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="saveOrUpdate();" >保存</button>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		  </div>
		</div>
	</div>
</body>
</html>